    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    }

    .header-logo {
      background-color: antiquewhite;
      display: flex;
      justify-content: center;
      font-size: 1rem;
      margin: 1.2em;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 100%;
    }

    .add-new-task {
      background-color: rgb(238, 237, 237);
      padding: 8px 10px;
      border-radius: 3px;
      cursor: pointer;
    }

    .add-new-task:hover,
    .add-new-task:focus {
      box-shadow: 0.5px 0.5px 5px rgb(238, 237, 237);
      transition: 0.5s ease-in-out;
      text-shadow: 1px 1px 2px rgb(121, 121, 121);
    }
    .form-control {
      border: none;
      font-style: italic;
      text-align: center;
      padding: 8px 10px;
      
    }
  .btn-submit {
    background-color: rgb(90, 144, 243);
    padding: 8px 10px;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgb(25, 25, 26);
    }

    .btn-submit:hover,
    .btn-submit:focus {
      box-shadow: 0.5px 0.5px 5px rgb(90, 144, 243);
      transition: 0.5s ease-in-out;
      text-shadow: 1px 1px 2px rgb(17, 17, 17);
    }

  .list-group-item {
    list-style: none;
    width: 100%;
    padding: 0.2em;
    margin: 0.2em;
    cursor: pointer;
    border-bottom: 0.8px solid rgba(189, 188, 188, 0.548);
    }

    #message {
      font-size: .8em;
      padding: 1em;
      font-style: italic;
    }

  .btn-clear {
    background-color: rgb(216, 46, 46);
    padding: 8px 150px;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: opacity 1s;
    }

  .btn-clear:hover,
  .btn-clear:focus {
    box-shadow: 0.5px 0.5px 5px rgb(216, 46, 46);
    opacity: 0.8s;
    text-shadow: 1px 1px 2px rgb(17, 17, 17);
    }

   